<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <form class="login-form" action="secret/login", method="post">
            <div class="form-header">
                <h3>Admin Login Form</h3>
                <p>Login to access Admin dashboard</p>
            </div>
            
            <!--admincode Input-->
            <div class="form-group">
                <input type="text" class="form-input" placeholder="code" name="code">
            </div>
            <!--Password Input-->
            <div class="form-group">
                <input type="password" class="form-input" placeholder="password" name="password">
            </div>
            <!--Login Button-->
            <div class="form-group">
                <button class="form-button" type="submit">Login</button>
            </div>
</body>
</html>