
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#69d2e7;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 400px; /* Same as the width of the sidenav */
  text-align:center
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
    

<div class="sidenav">
    <br>
  <a href="/logout">Logout</a>
  <a href="/add-class">Add Class</a>
  <a href="/attendance/take">Take Attendance</a>
  <a href="/attendance">View My Classes</a>
</div>

<div class="main">
  <h2>Pulchowk Campus Class Attendance</h2>

 
  <p>Teacher's Dashboard</p>
</div>
   
</body>
</html> 